<md-dialog aria-label="Reset your password" ng-cloak style="width: 360px">
    <form name="resetPasswordForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Byt lösenord</h2>

                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <h5 ng-if="vm.message !== ''">{{vm.message}}</h5>
                <div layout="row">
                    <md-input-container class="md-block" flex>
                        <label>Nuvarande lösenord</label>
                        <input type="password" ng-model="vm.oldPassword" required/>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex>
                        <label>Upprepa gamla lösenordet</label>
                        <input type="password" ng-model="vm.repeatedPassword" required/>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex>
                        <label>Nytt lösenord</label>
                        <input type="password" ng-model="vm.password" required/>
                    </md-input-container>
                </div>
            </div>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="vm.cancel()">
                Avbryt
            </md-button>
            <md-button class="md-raised md-primary" ng-click="vm.reset()" style="margin-right:20px;"
                       ng-disabled="resetPasswordForm.$invalid">
                Byt lösenord
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
